---
- name: Add Epel repo
  yum_repository:
    name: epel-release
    state: present

- name: Install yum-utils
  yum:
    name: yum-utils
    state: present

- name: Set PowerTools to enabled
  shell:  yum config-manager --set-enabled powertools