---
- name: Download Mupdf source
  get_url:
    url: https://mupdf.com/downloads/archive/mupdf-1.18.0-source.tar.gz
    dest: /tmp/mupdf

- name: Decompress Mupdf source
  unarchive:
  src: /tmp/mupdf/mupdf-1.18.0-source.tar.xz
  copy: no
  dest: /tmp/

- name: Add Epel repo
  yum_repository:
    name: epel
    description: EPEL YUM repo
    baseurl: https://download.fedoraproject.org/pub/epel/$releasever/$basearch/

- name: Install yum-utils
  yum:
    name: yum-utils
    state: present

- name: Set PowerTools to enabled
  shell:  yum config-manager --set-enabled powertools

- name: Install deps
  yum:
    name: "{{ item }}"
    state: present
  loop:
    - freeglut-devel
    - libX11-devel
    - libXi-devel
    - libXrandr-devel

- name: Install Mupdf
  shell: make && make prefix=/usr/local install
  args:
    chdir: /tmp/mupdf/mupdf-1.18.0-source

- name: Remove src
  file:
    path: /tmp/mupdf
    state: absent

- name: Remove repository (and clean up left-over metadata)
  yum_repository:
    name: epel
    state: absent
  notify: yum-clean-metadata

- name: Remove deps
  yum:
    name: "{{ item }}"
    state: absent
  loop:
    - freeglut-devel
    - libX11-devel
    - libXi-devel
    - libXrandr-devel