---
- name: Install minimal Gnome pkgs
  yum:
    name:
      - "@base-x"
      - gnome-shell
      - gnome-terminal
      - gnome-tweaks
    state: present

- name: Enable Gnome
  systemd:
    name: gdm
    state: started
    enabled: yes

- name: Enable graphical target
  file:
    src: /usr/lib/systemd/system/graphical.target
    dest: /etc/systemd/system/default.target
    state: link

- name: Reboot system
  reboot: